

<!-- SECTION HEADLINE -->
<div class="section-headline-wrap">
  <div class="section-headline">
    <h2>Login and Register Boxes</h2>
    <p>Home<span class="separator">/</span><span class="current-section">Boxes</span></p>
  </div>
</div>
<!-- /SECTION HEADLINE -->

<!-- SECTION -->
<div class="section-wrap">
  <div class="section demo">

    <!-- FORM POPUP -->
    <div class="form-popup">

      <!-- FORM POPUP CONTENT -->
      <div class="form-popup-content">
        <h4 class="popup-title">Register Account</h4>
        <!-- LINE SEPARATOR -->
        <hr class="line-separator">
        <!-- /LINE SEPARATOR -->
        <form id="register-form">
          <label for="email_address2" class="rl-label required">Email Address</label>
          <input type="email" id="email_address2" name="email_address2" placeholder="Enter your email address here...">
          <label for="username2" class="rl-label">Username</label>
          <input type="text" id="username2" name="username2" placeholder="Enter your username here...">
          <label for="password2" class="rl-label required">Password</label>
          <input type="password" id="password2" name="password2" placeholder="Enter your password here...">
          <label for="repeat_password2" class="rl-label required">Repeat Password</label>
          <input type="password" id="repeat_password2" name="repeat_password2" placeholder="Repeat your password here...">
          <button class="button mid dark">Register <span class="primary">Now!</span></button>
        </form>
      </div>
      <!-- /FORM POPUP CONTENT -->
    </div>
    <!-- /FORM POPUP -->
    <!-- FORM POPUP -->
    <div class="form-popup">


      <!-- FORM POPUP CONTENT -->
      <div class="form-popup-content">
        <h4 class="popup-title">Restore your Password</h4>
        <!-- LINE SEPARATOR -->
        <hr class="line-separator short">
        <!-- /LINE SEPARATOR -->
        <p class="spaced">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
        <form id="restore-pwd-form">
          <label for="email_address" class="rl-label">Email Address</label>
          <input type="email" id="email_address" name="email_address" placeholder="Enter your email address...">
          <!-- CHECKBOX -->
          <input type="checkbox" id="generate_pwd" name="generate_pwd" checked>
          <label for="generate_pwd" class="label-check">
            <span class="checkbox primary primary"><span></span></span>
            Generate new password
          </label>
          <!-- /CHECKBOX -->
          <button class="button mid dark no-space">Restore your <span class="primary">Password</span></button>
        </form>
      </div>
      <!-- /FORM POPUP CONTENT -->
    </div>
    <!-- /FORM POPUP -->
    <div class="clearfix"></div>
  </div>
</div>
<!-- /SECTION -->


