<!-- SECTION HEADLINE -->
<div class="section-headline-wrap">
  <div class="section-headline">
    <h2>How to Shop</h2>
    <p>Home<span class="separator">/</span><span class="current-section">How to Shop</span></p>
  </div>
</div>
<!-- /SECTION HEADLINE -->

<!-- HT BANNER WRAP -->
<div class="ht-banner-wrap">
  <!-- HT BANNER -->
  <div class="ht-banner void violet">
    <figure class="ht-banner-img1">
      <img src="assets/images/how_to_shop_01.png" alt="">
    </figure>
  </div>
  <!-- /HT BANNER -->

  <!-- HT BANNER -->
  <div class="ht-banner">
    <!-- HT BANNER CONTENT -->
    <div class="ht-banner-content">
      <p class="text-header">Create Your Account</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor unt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in der henderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <a href="/register" class="button mid dark">Create your <span class="primary">New Account</span></a>
    </div>
    <!-- /HT BANNER CONTENT -->
  </div>
  <!-- /HT BANNER -->

  <!-- HT BANNER -->
  <div class="ht-banner void pink">
    <figure class="ht-banner-img2">
      <img src="assets/images/how_to_shop_02.png" alt="">
    </figure>
  </div>
  <!-- /HT BANNER -->

  <!-- HT BANNER -->
  <div class="ht-banner">
    <!-- HT BANNER CONTENT -->
    <div class="ht-banner-content">
      <p class="text-header">Browse Our Shop Items</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor unt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in der henderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <a href="#" class="button mid dark"><span class="primary">Most Popular</span> Items</a>
    </div>
    <!-- /HT BANNER CONTENT -->
  </div>
  <!-- /HT BANNER -->

  <!-- HT BANNER -->
  <div class="ht-banner void blue">
    <figure class="ht-banner-img3">
      <img src="assets/images/how_to_shop_03.png" alt="">
    </figure>
  </div>
  <!-- /HT BANNER -->

  <!-- HT BANNER -->
  <div class="ht-banner">
    <!-- HT BANNER CONTENT -->
    <div class="ht-banner-content">
      <p class="text-header">Shopping Cart and Checkout</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor unt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in der henderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <a href="#" class="button mid dark">Our <span class="primary">Payment Methods</span></a>
    </div>
    <!-- /HT BANNER CONTENT -->
  </div>
  <!-- /HT BANNER -->
</div>
<!-- /HT BANNER WRAP -->
